<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>Edit <%= merch.name %> Info</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/merch">Merch Index</a>
    </div>
    <div class="forms">
        <h2>Game Attributes:</h2>
        <form action="/merch/<%= merch._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= merch.name %>" /><br>
            <input type="text" name="img" value="<%= merch.img%>" /><br>
            <input type="number" name="price" value="<%= merch.price %>" /><br>
            <input type="number" name="qty" value="<%= merch.qty %>" /><br>
            <input type="submit" value="Update merch" />
        </form>
    </div>
</body>

</html>