<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Merchandise Store Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>List of Merchandise</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/games">Game Page</a>
    </div>
    <div class="row">
        <div class="side">
            CONTENT
        </div>
        <div class="maincontent">
            <% merch.forEach(merch=>{ %>
                <div class="products">
                    <a href="/merch/<%= merch._id %>">
                        <%= merch.name %>
                    </a><br>
                    <img src="<%= merch.img %>">
                    Price: $<%= merch.price %><br>
                        Quantity: <%= merch.qty %>
                </div>
                <% }) %>
        </div>
    </div>
</body>
<div class="footer">
    <a href="/merch/new"><h2>Add a New Merchandise</h2></a>
</div>

</html>