<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>
            Show Page for <%= merch.name%>
        </h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/merch">Merch Index</a>
    </div>
    <div class="maincontent">
        <div class="products">
            <div><h2>Merch Info</h2></div>
            <div>Title: <%= merch.name %></div>
            <div><img src="<%= merch.img %>"></div>
            <div>Description: <%= merch.description%></div>
            <div>Price: $<%= merch.price%></div>
            <div>Quantity Available: <%= merch.qty%></div>         
        </div>
    </div>




    <div class="footer">
        <form action="/merch/<%= merch._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Game" />
        </form>
        <div class="editbtn">
            <a href="/merch/<%= merch._id %>/edit"><input type="submit" value="Edit This Merch"> </a>
        </div>
    </div>
</body>

</html>