<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>
            Show Page for <%= merch.name%>
        </h1>
    </div>
    <div class="nav">
        <h2><a href="/">Home</a></h2>
       <h2><a href="/merch">Merch Index</a></h2> 
    </div>
    <div class="showcontent">
        <div><img src="<%= merch.img %>"></div>
        <div class="showblock">
            <div><h2>Merch Info</h2></div>
            <div>Name: <%= merch.name %></div>
            <div>Description: <%= merch.description%></div>
            <div>Price: $<%= merch.price%></div>
            <div>Quantity Available: <%= merch.qty%></div>       
    </div>
    </div>




    <div class="footer">
        <form action="/merch/<%= merch._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Game" />
        </form>
        
            <a href="/merch/<%= merch._id %>/edit">Edit Game</a>
        
    </div>
</body>

</html>