<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Show Page for <%= merch.name%>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/merch">Merch Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Merch Info</h2>
            Title: <%= merch.name %> <br>
            <img src="<%= merch.img %>"> <br>
            Description: <%= merch.description%> <br>
            Price: $<%= merch.price%> <br>
            Quantity Available: <%= merch.qty%>
        </section>
    </main>
    <footer>
        <form action="/merch/<%= merch._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Game" />
        </form>
        <a href="/merch/<%= merch._id %>/edit">Edit Merch</a>
    </footer>
</body>

</html>