<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Game Store Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="header">
        <h1>List of Games</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
    </div>
    <div class="row">
        <div class="side">
            <p>CONTENT</p>
        </div>
        <div class="maincontent">
            <% games.forEach(games => { %>
                <div class="products">
                    Item Name:<a href="/games/<%= games._id %>">
                        <%= games.title %>
                    </a><br>
                    <img src="<%= games.img %>"/> <br>
                    Item Price: $<%=games.price%><br>
                    Item Stock: <%=games.qty%>
                </div>
                <% }) %>
        </div>
    </div>
</body>
<div class="footer">
    <h1> <a href="/games/new">Add a New Game</a></h1>
</div>

</html>