<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>Show Page for <%= games.title%> </h1>
        </div>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/games">Game Index</a>
        </div>
    <main>
        <section>
            <h2>Game Info</h2>
            Title: <%= games.title %> <br>
            <img src="<%= games.img %>"> <br>
            Description: <%= games.description%> <br>
            Developer: <%= games.developer%> <br>
            Genres: <%= games.genres%> <br>
            Platforms: <%= games.platforms%> <br>
            Price: $<%= games.price%> <br>
            Quantity Available: <%= games.qty%>
        </section>
    </main>
    <footer>
        <form action="/games/<%= games._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Game" />
        </form>
        <a href="/games/<%= games._id %>/edit">Edit Game</a>
    </footer>
</body>

</html>