<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>Show Page for <%= games.title%> </h1>
        </div>
        <div class="nav">
            <h2><a href="/">Home</a> </h2>
            <h2> <a href="/games">Games Index</a> </h2>
        </div>
        <div class="pt">
            <h3>Information</h3> 
        </div>

            
            <div class="showcontent">
                <div class="showimg">
                    <img src="<%= games.img %>">
                </div>
                
                <div class="showblock">
                    <div><h2>Game Info</h2></div>
                    <div>Title: <%= games.title %></div>
                    <div>Description: <%= games.description%></div>
                    <div>Developer: <%= games.developer%></div>
                    <div>Genres: <%= games.genres%></div>
                    <div>Platforms: <%= games.platforms%></div>
                    <div>Price: $<%= games.price%></div>
                    <div>Quantity Available: <%= games.qty%></div>
            
            </div>
            </div>

    <div class="footer">
        
        <form action="/games/<%= games._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Game" />
        </form>
        
        <a href="/games/<%= games._id %>/edit">Edit Game</a>
    </div>
</body>

</html>