<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>Show Page for <%= games.title%> </h1>
        </div>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/games">Game Index</a>
        </div>
        <div class="pt">
            <h3>Information</h3> 
        </div>

            <div class="row">
            <div class="maincontent">
                <div class="products">
                    <div>Title: <%= games.title %></div>
                    <div><img src="<%= games.img %>"></div>
                    <div>Description: <%= games.description%></div>
                    <div>Developer: <%= games.developer%></div>
                    <div>Genres: <%= games.genres%></div>
                    <div>Platforms: <%= games.platforms%></div>
                    <div>Price: $<%= games.price%></div>
                    <div>Quantity Available: <%= games.qty%></div>
            </div>
            </div>
            </div>

    <div class="footer">
        <form action="/games/<%= games._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Game" />
        </form> 
        <div class="editbtn"><a href="/games/<%= games._id %>/edit"><input type="submit" value="Edit Game"></a></div>
        
    </div>
</body>

</html>